<a href="https://colab.research.google.com/github/kirsten-fung/EDA/blob/main/project_gss_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Research Question: Is there a relationship between perceptions of work-life balance and job satisfaction among survey participants?

In [467]:
import pandas as pd
import numpy as np
#
var_list = ['wrkstat', 'prestige'] # List of variables you want to save
output_filename = 'selected_gss_data.csv' # Name of the file you want to save the data to
#
modes = ['w','a'] # Has write mode and append mode
phase = 0 # Starts in write mode; after one iteration of loop, switches to append mode
#
for k in range(3): # for each chunk of the data
    url = 'https://github.com/DS3001/project_gss/raw/main/gss_chunk_' + str(1+k) + '.parquet' # Create url to the chunk to be processed
    print(url) # Check the url is correct
    df = pd.read_parquet(url) # Download this chunk of data
    print(df.head()) # Visually inspect the first few rows
    df.loc[:,var_list].to_csv(output_filename, # specifies target file to save the chunk to
                              mode=modes[phase], # control write versus append
                              header=var_list, # variable names
                              index=False) # no row index saved
    phase = 1 # Switch from write mode to append mode

https://github.com/DS3001/project_gss/raw/main/gss_chunk_1.parquet
   year  id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1972   1  working full time   NaN   NaN    NaN  205.0      50.0
1  1972   2            retired   NaN   NaN    yes  441.0      45.0
2  1972   3  working part time   NaN   NaN    NaN  270.0      44.0
3  1972   4  working full time   NaN   NaN    NaN    1.0      57.0
4  1972   5      keeping house   NaN   NaN    yes  385.0      40.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next wtsscomp wtsscompnr
0           NaN          NaN           NaN   0.4446        NaN
1           NaN          NaN           NaN   0.8893        NaN
2           NaN          NaN           NaN   0.8893        NaN
3           NaN          NaN           NaN   0.8893        NaN
4           NaN          NaN           NaN   0.8893        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_2.parquet
   year   id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1989  775            retired   NaN   NaN    yes  540.0      36.0
1  1989  776  working full time  40.0   NaN    NaN  925.0      36.0
2  1989  777            retired   NaN   NaN    yes   80.0      61.0
3  1989  778  working full time  44.0   NaN    NaN  912.0      26.0
4  1989  779            retired   NaN   NaN    yes  690.0      32.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0           NaN          NaN           NaN  1.295069        NaN
1           NaN          NaN           NaN  0.483624        NaN
2           NaN          NaN           NaN  0.407988        NaN
3           NaN          NaN           NaN  1.225988        NaN
4           NaN          NaN           NaN  0.504302        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_3.parquet
   year    id            wrkstat  hrs1  hrs2 evwork  occ  prestige  \
0  2006  1751  working full time  40.0   NaN    NaN  NaN       NaN
1  2006  1752          in school   NaN   NaN    yes  NaN       NaN
2  2006  1753  working full time  35.0   NaN    NaN  NaN       NaN
3  2006  1754  working full time  50.0   NaN    NaN  NaN       NaN
4  2006  1755  working full time  40.0   NaN    NaN  NaN       NaN

         wrkslf     wrkgovt  ...  agehef12 agehef13 agehef14  hompoph  \
0  someone else  government  ...       NaN      NaN      NaN      NaN
1  someone else     private  ...       NaN      NaN      NaN      NaN
2  someone else  government  ...       NaN      NaN      NaN      NaN
3  someone else  government  ...       NaN      NaN      NaN      NaN
4  someone else     private  ...       NaN      NaN      NaN      NaN

  wtssps_nea  wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0        NaN           NaN          NaN           NaN  1.079141   0.961150
1        NaN           NaN          NaN           NaN  7.673834   6.641571
2        NaN           NaN          NaN           NaN  0.584663   0.512145
3        NaN           NaN          NaN           NaN  0.715731   0.637592
4        NaN           NaN          NaN           NaN  1.094831   0.956094

[5 rows x 6694 columns]

In [468]:
# General overview of dataframe
df.head()

,year,id,wrkstat,hrs1,hrs2,evwork,occ,prestige,wrkslf,wrkgovt,...,agehef12,agehef13,agehef14,hompoph,wtssps_nea,wtssnrps_nea,wtssps_next,wtssnrps_next,wtsscomp,wtsscompnr
0,2006,1751,working full time,40.0,NaN,NaN,NaN,NaN,someone else,government,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.079141,0.961150
1,2006,1752,in school,NaN,NaN,yes,NaN,NaN,someone else,private,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.673834,6.641571
2,2006,1753,working full time,35.0,NaN,NaN,NaN,NaN,someone else,government,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.584663,0.512145
3,2006,1754,working full time,50.0,NaN,NaN,NaN,NaN,someone else,government,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.715731,0.637592
4,2006,1755,working full time,40.0,NaN,NaN,NaN,NaN,someone else,private,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.094831,0.956094

In [469]:
# Clean the job satisfaction variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['satjob'].value_counts()

very satisfied                   7911
moderately satisfied             6263
a little dissatisfied            1583
very dissatisfied                 670
not imputable_(2147483638)          0
not available in this year          0
not available in this release       0
uncodeable                          0
skipped on web                      0
refused                             0
no answer                           0
not imputable_(2147483637)          0
dk, na, iap                         0
I don't have a job                  0
iap                                 0
don't know                          0
see codebook                        0
Name: satjob, dtype: int64

In [470]:
df['satjob'] = df['satjob'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused','no answer','not imputable_(2147483637)','dk, na, iap',"I don't have a job",'iap',"don't know",'see codebook'], np.nan)
print(df['satjob'].value_counts())

very satisfied           7911
moderately satisfied     6263
a little dissatisfied    1583
very dissatisfied         670
Name: satjob, dtype: int64

In [471]:
df = df[~df['satjob'].isna()]

In [472]:
# Hours worked per week does not need cleaning
df['hrs2'].unique()

array([nan, 50., 38., 40., 12., 44.,  5., 60., 32., 25., 35., 45., 34.,
       28.,  1., 26., 43., 70., 30., 20., 55.,  3., 10., 42., 65., 15.,
        8.,  7., 48., 16., 36., 18., 41., 24.,  9.,  6., 84., 22., 21.,
       46., 80., 66., 52.])

In [473]:
# Age does not need cleaning
df['age'].unique()

array([42., 24., 52., 48., 34., 30., 35., 26., 27., 37., 72., 53., 58.,
       51., 77., 23., 36., 39., 44., 25., 33., 32., 49., 43., 62., 28.,
       69., 22., 63., 55., 60., 41., 66., 50., 46., 38., 31., 54., 65.,
       47., 57., 40., 75., 29., 89., 68., 45., 59., 82., 78., 56., 71.,
       61., 20., 21., 84., 18., 64., 73., 85., 19., 81., 67., 83., 70.,
       74., 76., nan, 86., 88., 87., 80., 79.])

In [474]:
# Clean the sex variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['sex'].value_counts()

female                           9100
male                             7244
don't know                          0
iap                                 0
I don't have a job                  0
dk, na, iap                         0
no answer                           0
not imputable_(2147483637)          0
not imputable_(2147483638)          0
refused                             0
skipped on web                      0
uncodeable                          0
not available in this release       0
not available in this year          0
see codebook                        0
Name: sex, dtype: int64

In [475]:
df['sex'] = df['sex'].replace(["don't know",'iap',"I don't have a job",'dk, na, iap','no answer','not imputable_(2147483637)','not imputable_(2147483638)','refused','skipped on web','uncodeable','not available in this release','not available in this year','see codebook'], np.nan)
print(df['sex'].value_counts())

female    9100
male      7244
Name: sex, dtype: int64

<ipython-input-475-4da65a691d4e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex'] = df['sex'].replace(["don't know",'iap',"I don't have a job",'dk, na, iap','no answer','not imputable_(2147483637)','not imputable_(2147483638)','refused','skipped on web','uncodeable','not available in this release','not available in this year','see codebook'], np.nan)

In [476]:
df = df[~df['sex'].isna()]

In [477]:
# Clean the degree variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['degree'].value_counts()

high school                      7706
bachelor's                       3515
graduate                         2031
less than high school            1656
associate/junior college         1422
not imputable_(2147483638)          0
not available in this year          0
not available in this release       0
uncodeable                          0
skipped on web                      0
refused                             0
no answer                           0
not imputable_(2147483637)          0
dk, na, iap                         0
I don't have a job                  0
iap                                 0
don't know                          0
see codebook                        0
Name: degree, dtype: int64

In [478]:
df['degree'] = df['degree'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused','no answer','not imputable_(2147483637)','dk, na, iap',"I don't have a job",'iap',"don't know",'see codebook'], np.nan)
print(df['degree'].value_counts())

high school                 7706
bachelor's                  3515
graduate                    2031
less than high school       1656
associate/junior college    1422
Name: degree, dtype: int64

<ipython-input-478-6cb1d6ddd3f0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['degree'] = df['degree'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused','no answer','not imputable_(2147483637)','dk, na, iap',"I don't have a job",'iap',"don't know",'see codebook'], np.nan)

In [479]:
df = df[~df['degree'].isna()]

In [480]:
# Clean the stress variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['stress'].value_counts()

sometimes                        3919
often                            2001
hardly ever                      1526
always                            842
never                             573
not imputable_(2147483638)          0
not available in this year          0
not available in this release       0
uncodeable                          0
skipped on web                      0
refused                             0
no answer                           0
not imputable_(2147483637)          0
dk, na, iap                         0
I don't have a job                  0
iap                                 0
can't choose                        0
see codebook                        0
Name: stress, dtype: int64

In [481]:
df['stress'] = df['stress'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused','no answer','not imputable_(2147483637)','dk, na, iap',"I don't have a job",'iap',"don't know","can't choose",'see codebook'], np.nan)
print(df['stress'].value_counts())

sometimes      3919
often          2001
hardly ever    1526
always          842
never           573
Name: stress, dtype: int64

<ipython-input-481-20acd0aae30f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['stress'] = df['stress'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused','no answer','not imputable_(2147483637)','dk, na, iap',"I don't have a job",'iap',"don't know","can't choose",'see codebook'], np.nan)

In [482]:
df = df[~df['stress'].isna()]

In [483]:
# Clean the marital variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['marital'].value_counts()

married                          4123
never married                    2675
divorced                         1516
widowed                           274
separated                         265
not imputable_(2147483638)          0
not available in this year          0
not available in this release       0
uncodeable                          0
skipped on web                      0
refused                             0
no answer                           0
not imputable_(2147483637)          0
dk, na, iap                         0
I don't have a job                  0
iap                                 0
don't know                          0
see codebook                        0
Name: marital, dtype: int64

In [484]:
df['marital'] = df['marital'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused','no answer','not imputable_(2147483637)','dk, na, iap',"I don't have a job",'iap',"don't know",'see codebook'], np.nan)
print(df['marital'].value_counts())

married          4123
never married    2675
divorced         1516
widowed           274
separated         265
Name: marital, dtype: int64

<ipython-input-484-1a95a90df85a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['marital'] = df['marital'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused','no answer','not imputable_(2147483637)','dk, na, iap',"I don't have a job",'iap',"don't know",'see codebook'], np.nan)

In [485]:
df = df[~df['marital'].isna()]

In [486]:
# Clean the race variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['race'].value_counts()

white                            6563
black                            1332
other                             934
don't know                          0
iap                                 0
I don't have a job                  0
dk, na, iap                         0
no answer                           0
not imputable_(2147483637)          0
not imputable_(2147483638)          0
refused                             0
skipped on web                      0
uncodeable                          0
not available in this release       0
not available in this year          0
see codebook                        0
Name: race, dtype: int64

In [487]:
df['race'] = df['race'].replace(["don't know",'iap',"I don't have a job",'dk, na, iap','no answer','not imputable_(2147483637)','not imputable_(2147483638)','refused','skipped on web','uncodeable','not available in this release','not available in this year','see codebook'], np.nan)
print(df['race'].value_counts())

white    6563
black    1332
other     934
Name: race, dtype: int64

<ipython-input-487-5f2091121671>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['race'] = df['race'].replace(["don't know",'iap',"I don't have a job",'dk, na, iap','no answer','not imputable_(2147483637)','not imputable_(2147483638)','refused','skipped on web','uncodeable','not available in this release','not available in this year','see codebook'], np.nan)

In [488]:
df = df[~df['race'].isna()]

In [489]:
# Clean the work status variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['wrkstat'].value_counts()

working full time                                                             6947
working part time                                                             1578
with a job, but not at work because of temporary illness, vacation, strike     281
keeping house                                                                   16
unemployed, laid off, looking for work                                           7
not imputable_(2147483637)                                                       0
not available in this year                                                       0
not available in this release                                                    0
uncodeable                                                                       0
skipped on web                                                                   0
refused                                                                          0
not imputable_(2147483638)                                                       0
I don't have a job                                                               0
no answer                                                                        0
dk, na, iap                                                                      0
iap                                                                              0
don't know                                                                       0
other                                                                            0
in school                                                                        0
retired                                                                          0
see codebook                                                                     0
Name: wrkstat, dtype: int64

In [490]:
df['wrkstat'] = df['wrkstat'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused',"I don't have a job",'not imputable_(2147483637)','no answer','dk, na, iap','iap',"don't know",'see codebook'], np.nan)
print(df['wrkstat'].value_counts())

working full time                                                             6947
working part time                                                             1578
with a job, but not at work because of temporary illness, vacation, strike     281
keeping house                                                                   16
unemployed, laid off, looking for work                                           7
retired                                                                          0
in school                                                                        0
other                                                                            0
Name: wrkstat, dtype: int64

<ipython-input-490-6b68b5594a22>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wrkstat'] = df['wrkstat'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused',"I don't have a job",'not imputable_(2147483637)','no answer','dk, na, iap','iap',"don't know",'see codebook'], np.nan)

In [491]:
df = df[~df['wrkstat'].isna()]

In [492]:
# Number of children does not need cleaning
df['childs'].value_counts()

0.0    2796
2.0    2323
1.0    1497
3.0    1294
4.0     532
5.0     202
6.0      97
8.0      45
7.0      33
Name: childs, dtype: int64

In [493]:
# Clean the income variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['income'].value_counts()

$25,000 or more                  6703
$20,000 to $24,999                479
$10,000 to $14,999                318
$15,000 to $19,999                294
$8,000 to $9,999                   80
under $1,000                       59
$1,000 to $2,999                   53
$3,000 to $3,999                   44
$6,000 to $6,999                   41
$5,000 to $5,999                   41
$7,000 to $7,999                   35
$4,000 to $4,999                   27
not imputable_(2147483638)          0
not available in this year          0
not available in this release       0
uncodeable                          0
skipped on web                      0
refused                             0
don't know                          0
not imputable_(2147483637)          0
no answer                           0
dk, na, iap                         0
I don't have a job                  0
iap                                 0
see codebook                        0
Name: income, dtype: int64

In [494]:
df['income'] = df['income'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused',"don't know",'not imputable_(2147483637)','no answer','dk, na, iap',"I don't have a job",'iap','see codebook'], np.nan)
print(df['income'].value_counts())

$25,000 or more       6703
$20,000 to $24,999     479
$10,000 to $14,999     318
$15,000 to $19,999     294
$8,000 to $9,999        80
under $1,000            59
$1,000 to $2,999        53
$3,000 to $3,999        44
$5,000 to $5,999        41
$6,000 to $6,999        41
$7,000 to $7,999        35
$4,000 to $4,999        27
Name: income, dtype: int64

In [495]:
df = df[~df['income'].isna()]

In [496]:
# Replace industry codes with categories
df['indus10'].value_counts()

7860.0    547
770.0     531
8680.0    390
8190.0    377
7870.0    228
         ...
6090.0      1
690.0       1
1670.0      1
2790.0      1
2970.0      1
Name: indus10, Length: 261, dtype: int64

In [497]:
df['indus10'] = df['indus10'].replace([4690,4770,4780,4790,4880,4890,4970,4980,4990,5070,5080,5170,5180,5190,5270,5280,5290,5370,5380,5390,5480,5490,5580,5570,5470,5590,1190,1270], 'Stores')
df['indus10'] = df['indus10'].replace([7480,7970,7980,7990,8070,8080,8090,8170,8180,8190,8270,8290,8370,8380,8390,8470], 'Healthcare')
df['indus10'] = df['indus10'].replace([1070,1080,1090,1170,1180,1280,1290,1370,1390,1470,1480,1490,1570,1590,1670,1680,1690,1770,1790,1870,1880,1890,1990,2170,2180,2190,2270,2280,2370,2380,2390,2470,2480,2490,2570,2590,2670,2790,2680,2690,2770,2780,2790,2870,2880,2980,3070,3080,3090,3170,3180,3190,3290,3360,3370,3380,3390,3470,3490,3570,3580,3590,3670,3690,3870,3890,3960,3970,3980,3990], 'Manufacturing')
df['indus10'] = df['indus10'].replace([4070,4080,4090,4170,4180,4190,4260,4270,4280,4290,4370,4380,4390,4470,4480,4490,4560,4570,4580,4585,4590,4670,4870,5370,5680], 'Wholesalers')
df['indus10'] = df['indus10'].replace([9870,9790,9780,9770,9690,9680,9670,9590,9470,9390,9370,9190,9180], 'Government/Military')
df['indus10'] = df['indus10'].replace([5670,5690,5790,6070,6080,6090,6170,6180,6190,6270,6280,6290,6370,6380,6470,6480,6490,6680,6690,6695,6770,6780,6870,6880,6890,6970,6990,7070,7080,7170,7180,7190,7270,7280,7290,7370,7380,7390,7460,7470,7490,7570,7580,7590,7670,7680,7690,7770,7780,7790,7890,8680,8560,8570,8580,8590,8660,8670,8680,8690,8770,8780,8790,8870,8880,8890,8970,8980,8990,9070,9080,9090,9160,9170,9180,9290], 'Services')
df['indus10'] = df['indus10'].replace([7860,7870,7880], 'Education')
df['indus10'] = df['indus10'].replace([170,180,190,270,280,290,370,380,390,470,480,490,570,580,590,670,680,690,1070,1080,2070,2970], 'Agriculture')
df['indus10'] = df['indus10'].replace([770], 'Construction')
df['indus10'] = df['indus10'].replace([9480,6390,9570,5090,9380,6570,2290,6670,9490,3770,3680,4680,2990,6672,2890,5592,6590,3780,3790,2090,5591,8250], 'Other')

In [498]:
df['indus10'].value_counts()

Services               3011
Healthcare             1238
Education               784
Manufacturing           760
Stores                  581
Construction            531
Government/Military     399
Other                   322
Wholesalers             248
Agriculture             230
Name: indus10, dtype: int64

In [499]:
df['job_satisfaction'] = df['satjob']
df['occupation'] = df['indus10']
df['hours_worked'] = df['hrs2']
df['highest_degree'] = df['degree']
df['stress_level'] = df['stress']
df['marital_status'] = df['marital']
df['work_status'] = df['wrkstat']
df['num_children'] = df['childs']

In [500]:
clean_columns = ['year','occupation','job_satisfaction', 'hours_worked','age','sex','highest_degree','stress_level','marital_status','race','work_status','num_children','income']
cleaned_df = df[clean_columns].copy()

In [501]:
cleaned_df.head()

,year,occupation,job_satisfaction,hours_worked,age,sex,highest_degree,stress_level,marital_status,race,work_status,num_children,income
2,2006,Other,moderately satisfied,NaN,42.0,male,bachelor's,often,divorced,white,working full time,0.0,"$25,000 or more"
4,2006,Healthcare,very satisfied,NaN,24.0,female,bachelor's,sometimes,married,white,working full time,0.0,"$25,000 or more"
7,2006,Education,moderately satisfied,NaN,52.0,female,associate/junior college,sometimes,married,white,working full time,4.0,"$25,000 or more"
8,2006,Services,very satisfied,NaN,42.0,male,graduate,sometimes,never married,white,working full time,0.0,"$25,000 or more"
11,2006,Services,very satisfied,NaN,48.0,female,bachelor's,often,never married,white,working full time,0.0,"$25,000 or more"

In [502]:
cleaned_df['year'].value_counts()

2022    1750
2018    1336
2014    1175
2010    1073
2012    1049
2006     951
2016     840
Name: year, dtype: int64

In [503]:
df.to_csv('cleaned_project_gss.csv', index=False)